# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
logs/
pinyougou-cart-interface/src/main/resources/
pinyougou-cart-interface/src/test/
pinyougou-cart-interface/target/
pinyougou-cart-service/src/test/
pinyougou-cart-service/target/
pinyougou-cart-web/src/test/
pinyougou-cart-web/target/
pinyougou-common/src/main/resources/spring/
pinyougou-common/target/
pinyougou-content-interface/target/
pinyougou-content-service/target/
pinyougou-dao/target/
pinyougou-demo-security/src/main/java/
pinyougou-demo-security/src/test/
pinyougou-demo-security/target/
pinyougou-manager-web/target/
pinyougou-order-interface/src/main/resources/
pinyougou-order-interface/src/test/
pinyougou-order-interface/target/
pinyougou-order-service/src/test/
pinyougou-order-service/target/
pinyougou-page-interface/src/main/resources/
pinyougou-page-interface/src/test/
pinyougou-page-interface/target/
pinyougou-page-service/src/test/
pinyougou-page-service/target/
pinyougou-page-web/src/main/java/
pinyougou-page-web/src/main/resources/
pinyougou-page-web/src/test/
pinyougou-page-web/target/
pinyougou-pay-interface/src/main/resources/
pinyougou-pay-interface/src/test/
pinyougou-pay-interface/target/
pinyougou-pay-service/src/test/
pinyougou-pay-service/target/
pinyougou-pojo/target/
pinyougou-portal-web/target/
pinyougou-search-interface/src/main/resources/
pinyougou-search-interface/src/test/
pinyougou-search-interface/target/
pinyougou-search-service/src/test/
pinyougou-search-service/target/
pinyougou-search-web/src/test/
pinyougou-search-web/target/
pinyougou-seckill-interface/target/
pinyougou-seckill-service/target/
pinyougou-seckill-web/target/
pinyougou-sellergoods-interface/target/
pinyougou-sellergoods-service/target/
pinyougou-shop-web/target/
pinyougou-solr-util/target/
pinyougou-user-interface/src/main/resources/
pinyougou-user-interface/src/test/
pinyougou-user-interface/target/
pinyougou-user-service/src/test/
pinyougou-user-service/target/
pinyougou-user-web/src/test/
pinyougou-user-web/target/
