<!DOCTYPE html>
<html ng-app="pinyougou">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>待发货 - 品优购</title>
    <link rel="icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css" />
    <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/service/userOrderService.js"></script>
    <script type="text/javascript" src="js/controller/userOrderController.js"></script>
</head>

<body ng-controller="userOrderController" ng-init="init('2')">
    <!-- 头部栏位 -->
    <div id="nav-bottom">
        <div class="nav-top">
            <div class="top">
                <div class="py-container">
                    <div class="shortcut">
                        <ul class="fl">
                            <li class="f-item">品优购欢迎您！</li>
                            <li class="f-item">请<a href="login.html">登录</a>　<span><a href="register.html">免费注册</a></span></li>
                        </ul>
                        <ul class="fr">
                            <li class="f-item"><a href="home-index.html">我的订单</a></li>
                            <li class="f-item space"></li>
                            <li class="f-item"><a href="home.html">我的品优购</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="py-container">
                    <div class="yui3-g Logo">
                        <div class="yui3-u Left logoArea">
                            <a class="logo-bd" title="品优购" href="../index.html"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">
                    <div class="person-info">
                        <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name">{{loginName}}</span>
                            <span class="safe">账户安全</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list-items">
                        <dl>
                            <dt><i>·</i> 订单中心</dt>
                            <dd><a href="home-index.html">我的订单</a></dd>
                            <dd><a href="home-order-pay.html">待付款</a></dd>
                            <dd><a href="home-order-send.html" class="list-active">待发货</a></dd>
                            <dd><a href="home-order-receive.html">待收货</a></dd>
                            <dd><a href="home-order-evaluate.html">待评价</a></dd>
                        </dl>
                        <dl>
                            <dt><i>·</i> 我的中心</dt>
                            <dd><a href="home-person-collect.html">我的收藏</a></dd>
                            <dd><a href="home-person-footmark.html">我的足迹</a></dd>
                        </dl>
                        <dl>
                            <dt><i>·</i> 设置</dt>
                            <dd><a href="home-setting-info.html">个人信息</a></dd>
                            <dd><a href="home-setting-address.html">地址管理</a></dd>
                            <dd><a href="home-setting-safe.html">安全管理</a></dd>
                        </dl>
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6 order-pay">
                    <div class="body">
                        <!--消息提示-->
                        <div class="alert alert-danger" ng-show="messageType=='error'" style="margin: 10px 0;">
                            {{message}}
                        </div>
                        <div class="alert alert-success" ng-show="messageType=='success'" style="margin: 10px 0;">
                            {{message}}
                        </div>

                        <div class="table-title">
                            <table class="sui-table order-table">
                                <tr>
                                    <thead>
                                        <th width="35%">宝贝</th>
                                        <th width="10%">单价</th>
                                        <th width="8%">数量</th>
                                        <th width="12%">实付款</th>
                                        <th width="12%">交易状态</th>
                                        <th width="15%">交易操作</th>
                                    </thead>
                                </tr>
                            </table>
                        </div>

                        <!--空列表提示-->
                        <div class="order-detail" ng-show="!list || list.length == 0" style="text-align: center; padding: 50px 0;">
                            <p style="color: #999; font-size: 16px;">暂无待发货订单</p>
                            <a href="../index.html" class="sui-btn btn-primary" style="margin-top: 10px;">去购物</a>
                        </div>

                        <!--订单列表-->
                        <div class="order-detail" ng-repeat="order in list">
                            <div class="orders">
                                <div class="choose-title">
                                    <span style="margin-right: 20px;">{{formatDate(order.createTime)}}</span>
                                    <span>订单编号：{{order.orderId}}</span>
                                </div>
                                <table class="sui-table table-bordered order-datatable">
                                    <tbody>
                                        <tr ng-repeat="item in order.orderItemList">
                                            <td width="35%">
                                                <div class="typographic">
                                                    <img ng-src="{{item.picPath}}" style="width: 60px; height: 60px;" />
                                                    <a href="#" class="block-text">{{item.title}}</a>
                                                </div>
                                            </td>
                                            <td width="10%" class="center">
                                                <span>¥{{item.price}}</span>
                                            </td>
                                            <td width="8%" class="center">{{item.num}}</td>
                                            <td width="12%" class="center" ng-if="$index == 0" rowspan="{{order.orderItemList.length}}">
                                                <span style="color: #e4393c; font-weight: bold;">¥{{calcTotal(order)}}</span>
                                            </td>
                                            <td width="12%" class="center" ng-if="$index == 0" rowspan="{{order.orderItemList.length}}">
                                                <span style="color: #e4393c;">{{getStatusName(order.status)}}</span>
                                            </td>
                                            <td width="15%" class="center" ng-if="$index == 0" rowspan="{{order.orderItemList.length}}">
                                                <span style="color: #999;">等待商家发货</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--分页-->
                        <div class="sui-pagination pagination-large" ng-show="list && list.length > 0">
                            <ul>
                                <li ng-class="{'disabled': paginationConf.currentPage <= 1}">
                                    <a href="javascript:;" ng-click="goToPage(paginationConf.currentPage - 1)">上一页</a>
                                </li>
                                <li ng-repeat="page in [] | range:Math.ceil(paginationConf.totalItems/paginationConf.itemsPerPage) track by $index"
                                    ng-class="{'active': $index + 1 == paginationConf.currentPage}">
                                    <a href="javascript:;" ng-click="goToPage($index + 1)">{{$index + 1}}</a>
                                </li>
                                <li ng-class="{'disabled': paginationConf.currentPage >= Math.ceil(paginationConf.totalItems/paginationConf.itemsPerPage)}">
                                    <a href="javascript:;" ng-click="goToPage(paginationConf.currentPage + 1)">下一页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部栏位 -->
    <div class="clearfix footer">
        <div class="py-container">
            <div class="footlink">
                <div class="Mod-service">
                    <ul class="Mod-Service-list">
                        <li class="grid-service-item intro intro1">
                            <i class="icon3"></i>
                            <div class="service-text">
                                <h4>多品类选购</h4>
                                <span>品类更丰富，一站购齐</span>
                            </div>
                        </li>
                        <li class="grid-service-item intro intro2">
                            <i class="icon4"></i>
                            <div class="service-text">
                                <h4>多仓直发</h4>
                                <span>极速配送，正品保障</span>
                            </div>
                        </li>
                        <li class="grid-service-item intro intro3">
                            <i class="icon5"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <span>正品行货，贴心服务</span>
                            </div>
                        </li>
                        <li class="grid-service-item intro intro4">
                            <i class="icon6"></i>
                            <div class="service-text">
                                <h4>天天低价</h4>
                                <span>天天低价，正品行货</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
</body>

</html>
