<!DOCTYPE html>
<html lang="en" ng-app="pinyougou">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/pages-login-manage.css">
    <link rel="stylesheet" href="../css/reginster.css">
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("pinyougou", []);
        app.controller('registerController', function($scope, $http) {
            $scope.entity = {};
            $scope.register = function() {
                if (!$scope.entity.phone) {
                    alert('请输入手机号');
                    return;
                }
                if (!$scope.entity.password) {
                    alert('请输入密码');
                    return;
                }
                if ($scope.entity.password !== $scope.entity.confirmPassword) {
                    alert('两次密码输入不一致');
                    return;
                }
                $http.post('../admin/register.do', $scope.entity).success(function(response) {
                    if (response.success) {
                        alert('注册成功');
                        window.location.href = 'login.html';
                    } else {
                        alert(response.message || '注册失败');
                    }
                });
            };
        });
    </script>
</head>
<body ng-controller="registerController">
    <div class="logo fl">
        <h1>
            <a href="index.html" title="品优购">品优购</a>
        </h1>
    </div>

    <div class="registerarea w">
        <div class="reg-hd">
            <h3>注册新用户</h3>
            <span>我有账号,去<a href="login.html">登录</a></span>
        </div>

        <div class="reg-form">
            <form>
                <ul>
                    <li>
                        <label for="tel">手机号:</label>
                        <input type="text" class="inp" ng-model="entity.phone">
                    </li>
                    <li>
                        <label for="">短信验证码：</label>
                        <input type="text" class="inp" ng-model="entity.smscode">
                    </li>
                    <li>
                        <label for="">登录密码:</label>
                        <input type="password" class="inp" ng-model="entity.password">
                    </li>
                    <li class="safe">
                        安全程度
                        <em class="ruo">弱</em>
                        <em class="zhong">中</em>
                        <em class="qiang">强</em>
                    </li>
                    <li>
                        <label for="">确认密码:</label>
                        <input type="password" class="inp" ng-model="entity.confirmPassword">
                    </li>
                    <li class="agree">
                        <input type="checkbox" checked="checked">同意协议并注册
                        <a href="javascript:void(0);">《品优购用户协议》</a>
                    </li>
                    <li>
                        <input type="button" value="完成注册" class="over" ng-click="register()">
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>
</html>
